%h1 Link Shortener
%h2= "You have #{@links.count} links"
%form(action="/links" method="POST")
  %input(type="text" name="link[original_link]" placeholder="https://google.com" value="#{@link.original_link}")
  %input(type="submit")

%hr

%section
  - @links.each do |link|
    .link
      %strong= link.used
      %a(href="#{link.original_link}")= link.original_link
      %a(href="/#{link.code}")= from_root_url(link.code)


